# General
.DS_Store

# VS Code stuff
.vscode

# Packaging stuff
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jl.*.mem

# Document generation
/docs/build/
/docs/site/

# Temporary files
/dev/
/test/data/
/tmp/

# Build files
/build/create_binaries/wflow_bundle/

# Server test files
/server/test/data/

# pixi environments
.pixi
# juliaup
utils/juliaup
