# General
.DS_Store

# Packaging stuff
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jl.*.mem

# Document generation
/docs/build/
/docs/site/

# Temporary files
/dev/
/Wflow/test/data/
/tmp/

# Build files
/build/create_binaries/wflow_bundle/

# Server test files
/server/test/data/

# pixi environments
.pixi

# Joseph
/src/Data
src/Data
/docs/
.gitignore
Manifest.toml
Project.toml
# *.toml
/Data/
# Manifest.*
# Project.*
/Data
Data
Data/*
*.[src/Data]
**/Data
# *.[.toml]

Wflow.jl.code-workspace
# StartupWflow.jl