# General
.DS_Store

# VS Code stuff
.vscode

# Manifest toml from project toml
/Manifest.toml

# Packaging stuff
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jl.*.mem

# Document generation
/docs/build/
/docs/site/

# Temporary files
/dev/
/test/data/
/tmp/

# Build files
/build/create_binaries/wflow_cli/