[workspace]
name = "Wflow.jl"
authors = [
	"Joost Buitink <joost.buitink@deltares.nl>",
	"Willem van Verseveld <willem.vanVerseveld@deltares.nl>",
	"Hofer-Julian <julian.hofer@deltares.nl>",
	"Bart de Koning <bart.dekoning@deltares.nl>",
]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64"]

[tasks]
# Installation
# Julia
install-julia = "juliaup add 1.11.7 && juliaup override set 1.11.7"
# Pre-commit
install-pre-commit = "pre-commit install"
# Clear SSL_CERT_DIR to avoid Julia warnings, see https://github.com/JuliaLang/Downloads.jl/issues/244
update-registry-julia = { cmd = "julia --eval='using Pkg; Registry.update()'", env = { SSL_CERT_DIR = "" } }
initialize-julia = { depends-on = [
	"update-registry-julia",
	{ "task" = "instantiate-julia", "args" = [
		"Wflow",
	] },
] }
install = { depends-on = ["install-julia", "install-pre-commit"] }
# Test data
download-test-data = { cmd = "julia --project ../utils/download_test_data.jl", cwd = "Wflow" }
# Build
build-wflow-cli = { cmd = "julia --project create_app.jl", cwd = "build/create_binaries", depends-on = [
	{ "task" = "instantiate-julia", "args" = [
		"build/create_binaries",
	] },
	"download-test-data",
], env = { SSL_CERT_DIR = "", JULIA_SSL_CA_ROOTS_PATH = "" } }
# Test
test-wflow-cli = { cmd = "julia --project --eval 'using Pkg; Pkg.test(allow_reresolve=false)'", cwd = "build/wflow_cli", depends-on = [
	{ "task" = "instantiate-julia", "args" = [
		"build/wflow_cli",
	] },
	"download-test-data",
] }
test-wflow-cov = { cmd = "julia --project --eval 'using Pkg; Pkg.test(allow_reresolve=false, coverage=true, julia_args=[\"--check-bounds=yes\"])'", cwd = "Wflow", depends-on = [
	"initialize-julia",
	"download-test-data",
] }
# Server
test-wflow-server = { cmd = "julia --project=server --eval 'using Pkg; Pkg.test(\"WflowServer\", allow_reresolve=false, coverage=true)'", depends-on = [
	{ "task" = "instantiate-julia", "args" = [
		"server",
	] },
	"download-test-data",
] }
# Docs
install-ci = { depends-on = ["install-julia", "update-registry-julia"] }
quarto-check = { cmd = "quarto check all" }
quarto-render = { cmd = "julia --project=docs --eval 'using Pkg; Pkg.build(\"IJulia\")' && quarto render docs --to html --execute" }
quarto-preview = { cmd = "quarto preview docs" }

[tasks.instantiate-julia]
args = [{ "arg" = "cwd" }]
cmd = "julia --project={{cwd}} --eval='using Pkg; Pkg.instantiate()'"
env = { SSL_CERT_DIR = "" }

[tasks.generate-sbom]
depends-on = [
	{ "task" = "instantiate-julia", "args" = [
		"utils/sbom",
	] },
	{ "task" = "instantiate-julia", args = [
		"Wflow",
	] },
]
cmd = "julia --project=utils/sbom utils/sbom/sbom-generation.jl"
inputs = ["Wflow/Project.toml"]
outputs = ["Wflow.spdx.json"]

[dependencies]
juliaup = "*"
python = ">=3.10"
jupyter = ">=1.1.1,<2"
pre-commit = "*"
quarto = ">=1.8.26,<2"

[system-requirements]
linux = "3.10.0"
