/*-- scss:defaults --*/

$background: #212529;
$highlight: #292e33;
$highlight: #373a3c;
$links: #080c80;
$text: #ffffff;

// $body-bg: $background;
// $body-color: $text;
$link-color: $links;
$navbar-hl: $links ;
// $navbar-bg: $highlight;

.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border: 1px solid rgb(222, 226, 230)
}

.nav-tabs .nav-link:hover {
    background-color: $highlight;
    border-color: $links;
    border: 1px solid $links;
}