name: CI
on:
  pull_request:
  push:
    branches:
      - master
      - v1
    tags: '*'

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  test:
    name: Julia - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.threads }} threads - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        threads:
          - '1'
          - '2'
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/cache@v2
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Prepare pixi
        run: pixi run install-julia
      - name: Test Wflow
        run: |
          pixi run test-wflow-cov
        env:
          JULIA_NUM_THREADS: ${{ matrix.threads }}
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: Wflow/src
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
