name: Wflow Server CI
on:
  pull_request:
  push:
    branches:
      - master
    tags: '*'
jobs:
  test:
    name: WflowServer Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
          - '1'
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Install Julia dependencies
        shell: julia --project=server {0}
        run: |
          using Pkg;
          # dev install Wflow
          pkg"dev ."
      - name: Run the Wflow Server tests
        continue-on-error: true
        run: >
          julia --color=yes --project=server -e 'using Pkg; Pkg.test("WflowServer", coverage=true)'
          && echo "TESTS_PASS=true" | Out-File -FilePath $env:GITHUB_ENV -Append
        shell: pwsh
      - name: Exit if some tests did not pass
        if: ${{ env.TESTS_PASS != 'true' }}
        run: echo "response = $env.TESTS_PASS"
        shell: pwsh
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: server/src
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
