name: Pre-commit
on:
    pull_request:
    merge_group:
    push:
        branches: [main]
    workflow_dispatch:
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-python@v6
              with:
                  python-version: "3.12"
            - uses: pre-commit/action@v3.0.1
